@model MCEI.SysControlAdmin.EN.Juventud___EN.Juventud

@{
    ViewData["Title"] = "Eliminar Joven";
}

<h1>Eliminar Joven Existente</h1>
<p class="alert alert-danger">¿Estas Seguro De Eliminar el Siguiente Registro? Recuerda No Puedes Revertir Los Cambios.</p>
<br />
<hr />
<div>
    <h2>Información Personal</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age) Años
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CivilStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CivilStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfessionOrStudy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfessionOrStudy!.Name)
        </dd>
        <div>
            <br />
            <h2>Información Adicional</h2>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WaterBaptism)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WaterBaptism)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BaptismOfTheHolySpirit)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BaptismOfTheHolySpirit)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                @if (Model.Status == 1)
                {
                    <dd class="col-sm-10">
                        Activo
                    </dd>
                }
                else if (Model.Status == 2)
                {
                    <dd class="col-sm-10">
                        Inactivo
                    </dd>
                }
                else
                {
                    <dd> </dd>
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CommentsOrObservations)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CommentsOrObservations)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateModification)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateModification)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ImageData)
                </dt>
                <dd class="col-sm-10">
                    <img id="imagenPreview" src="@(ViewBag.ImageUrl != null ? "data:image/jpeg;base64," + ViewBag.ImageUrl : "")" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px;" />
                </dd>
            </dl>
        </div>
    </dl>

    <form id="Form" asp-action="Delete" onsubmit="CreateRecord(event)">
        <input type="submit" value="Eliminar Joven" class="btn btn-danger" /> |
        <a class="btn btn-outline-secondary" asp-action="Index">Regresar a La Lista</a>
    </form>
</div>

@section Scripts {
    <script>
        // Función para mostrar una alerta de error utilizando SweetAlert2
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }

        // Evento que se ejecuta una vez que el DOM ha sido completamente cargado
        document.addEventListener("DOMContentLoaded", function () {

            // Mostrar alerta de ViewBag.Error si es necesario
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                @:showErrorAlert('@ViewBag.Error');
            }
        });

        // Función para mostrar una alerta de confirmación antes de eliminar un registro
        function CreateRecord(e) {
            e.preventDefault();
            const form = document.getElementById('Form');

            Swal.fire({
                title: '¿Eliminar Este Joven?',
                text: '¿Estás seguro de eliminar el siguiente registro? Recuerda que no puedes revertir los cambios.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, Eliminar Joven',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}
