@model MCEI.SysControlAdmin.EN.Juventud___EN.Juventud

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Membresia PDF</title>
    <link href="/css/Juventud/DesignGeneratePDF.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td class="logo">
                    <img src="/assets/img/logos/Logo-Elim-Black.png" alt="Logo Oficial" width="100%">
                </td>
                <td class="text">
                    <h1>FichaJei Oficial - Misión Cristiana Elim Izalco</h1>
                    <h3>Lotificación San Francisco Psje c Casa 5 Pol 6 Izalco</h3>
                    <h3>Teléfono: 7435-4408  Celular: 2445-4322</h3>
                    <h3>Correo: elimizalco@gmail.com</h3>
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="container">
        <table>
            <tr>
                <td class="info">
                    <h1>Información Personal</h1>
                    <div class="line-group">
                        <p><strong>Nombre:</strong> @Model.Name</p>
                        <p><strong>Apellido:</strong> @Model.LastName</p>
                    </div>
                    <div class="line-group">
                        <p><strong>Fecha de Nacimiento:</strong> @Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
                        <p><strong>Edad:</strong> @Model.Age años</p>
                        <p><strong>Género:</strong> @Model.Gender</p>
                    </div>
                    <div class="line-group">
                        <p><strong>Estado Civil:</strong> @Model.CivilStatus</p>
                        <p><strong>Teléfono:</strong> @Model.Phone</p>
                        <p><strong>Profesión u Oficio:</strong> @Model.ProfessionOrStudy!.Name</p>
                    </div>
                </td>
                <td class="image">
                    <!-- Fotografía -->
                    @if (Model.ImageData != null)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData!)" alt="Fotografía" />
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <table>
            <tr>
                <td class="info">
                    <h1>Información Complementaria</h1>
                    <div class="line-group">
                        <p><strong>Bautismo en Agua:</strong> @Model.WaterBaptism</p>
                        <p><strong>Bautismo por el Espíritu Santo:</strong> @Model.BaptismOfTheHolySpirit</p>
                        @if (Model.Status == 1)
                        {
                            <p><strong>Estatus:</strong> Activo</p>
                        }
                        else if (Model.Status == 2)
                        {
                            <p><strong>Estatus:</strong> Inactivo</p>
                        }
                        else
                        {
                            <p><strong>Estatus:</strong> Sin Designar</p>
                        }
                    </div>
                    <div class="line-group">
                        <p><strong>Comentarios u Observaciones:</strong> @Model.CommentsOrObservations</p>
                        <p><strong>Fecha de Cración:</strong> @Model.DateCreated</p>
                        <p><strong>Fecha de Modificación:</strong> @Model.DateModification</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>