@model MCEI.SysControlAdmin.EN.Server___EN.Server

@{
    ViewData["Title"] = "Detalles de Servidor";
}

<h1>Detalles del Servidor</h1>
<hr />
<div>
    <h2>Inforamcion Personal</h2>
    <br />
    <dl class="row">
        <!-- Campo oculto para IdMembership -->
        <input type="hidden" id="IdMembership" value="@Model.IdMembership" />
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membership!.Name)
        </dd>
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership!.LastName)
        </dd>
        <dt class="col-sm-2">
            Dui
        </dt>
        <dd class="col-sm-10" id="Dui"></dd>
        <dt class="col-sm-2">
            Fecha de Nacimiento
        </dt>
        <dd class="col-sm-10" id="Birthdate"></dd>
        <dt class="col-sm-2">
            Edad
        </dt>
        <dd class="col-sm-10" id="Age"> Años</dd>
        <dt class="col-sm-2">
            Genero
        </dt>
        <dd class="col-sm-10" id="Gender"></dd>
        <dt class="col-sm-2">
            Telefono
        </dt>
        <dd class="col-sm-10" id="Phone"></dd>
        <dt class="col-sm-2">
            Estado Civil
        </dt>
        <dd class="col-sm-10" id="CivilStatus"></dd>
        <dt class="col-sm-2">
            Profesión u Oficio
        </dt>
        <dd class="col-sm-10" id="Profession"></dd>
        <dt class="col-sm-2">
            Bautismo en Agua
        </dt>
        <dd class="col-sm-10" id="WaterBaptism"></dd>
        <dt class="col-sm-2">
            Bautismo Por El Espiritu Santo
        </dt>
        <dd class="col-sm-10" id="SpiritBaptism"></dd>
    </dl>
    <br />
    <h2>Inforamcion Adicional</h2>
    <br />
    <dl class ="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrivilege)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Privilege!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        @if (Model.Status == 1)
        {
            <dd class="col-sm-10">
                Activo
            </dd>
        }
        else if (Model.Status == 2)
        {
            <dd class="col-sm-10">
                Inactivo
            </dd>
        }
        else
        {
            <dd> </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Modificar Servidor", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", id = "modifyButton" }) |
    <a class="btn btn-outline-secondary" asp-action="Index">Regresar a La Lista</a>
</div>

@section Scripts {
    <script>

        // Función para mostrar alertas de error utilizando SweetAlert2
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }

        // Evento que se ejecuta una vez que el DOM ha sido completamente cargado
        document.addEventListener("DOMContentLoaded", function () {

            // Mostrar alerta de ViewBag.Error si es necesario
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                @:showErrorAlert('@ViewBag.Error');
            }

            // Agregar el evento de clic al botón de modificar
            document.getElementById('modifyButton').addEventListener('click', function (event) {
                event.preventDefault(); // Prevenir la acción predeterminada del enlace
                Swal.fire({
                    title: '¿Ir a La Vista Modificar?',
                    text: "¿Estás seguro de que quieres ir a la vista Modificar?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, Ir a La Vista Modificar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Edit", "Server", new { id = Model.Id })';
                    }
                });
            });
        });

        $(document).ready(function () {
            // Función para autocompletar información de membresía
            function autocompleteMembershipDetails(memberId) {
                if (memberId) {
                    $.ajax({
                        url: '@Url.Action("GetMembershipDetails", "Server")',
                        type: 'GET',
                        data: { id: memberId },
                        success: function (data) {
                            $('#Dui').text(data.dui);
                            $('#Birthdate').text(data.birthdate);
                            $('#Age').text(data.age + " Años");
                            $('#Gender').text(data.gender);
                            $('#Phone').text(data.phone);
                            $('#CivilStatus').text(data.civilStatus);
                            $('#Profession').text(data.profession);
                            $('#WaterBaptism').text(data.waterBaptism);
                            $('#SpiritBaptism').text(data.spiritBaptism);
                        },
                        error: function () {
                            alert('Error al obtener los detalles del miembro.');
                        }
                    });
                } else {
                    // Limpiar los campos si no se selecciona ningún miembro
                    $('#Dui').text('');
                    $('#Birthdate').text('');
                    $('#Age').text('');
                    $('#Gender').text('');
                    $('#Phone').text('');
                    $('#CivilStatus').text('');
                    $('#Profession').text('');
                    $('#WaterBaptism').text('');
                    $('#SpiritBaptism').text('');
                }
            }

            // Obtener el IdMembership del modelo
            var selectedMembershipId = '@Model.IdMembership';

            // Autocompletar al cargar la página si hay un IdMembership seleccionado
            autocompleteMembershipDetails(selectedMembershipId);
        });
    </script>
}